/* 
Built by @funzeye for @HoverCraftie
URL: http://hovercraftstudio.ie 
*/

// Media query support required?
$media-queries-supported : true;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS imports
@import "imports";
